backend/Notes.Api/notes.db
backend/Notes.Api/notes.db-shm
backend/Notes.Api/notes.db-wal

# Compiled Bicep (ARM JSON) artifacts
infra/**/*.json
!infra/abbreviations.json

appsettings.Development.json
backend/Notes.Api/appsettings.Development.json
